.container.marketing
	.h2.featurette-heading 
		Tau·tol·o·gy
		%span.text-muted (noun) automatic, machine-driven definitions.


.search-box
	%input.form-control(placeholder='e.g. graded manifold')
	%button.btn.btn-primary.search-button
		%span.glyphicon.glyphicon-send