
// Non-overlapping Venn Diagram
// https://chart.googleapis.com/chart?cht=v&chs=200x200&chd=t:100,100,0,00&chdl=A|B
// Fully-overlapping Venn Diagram
// https://chart.googleapis.com/chart?cht=v&chs=200x200&chd=t:100,10,00,20&chdl=A|B